body { overflow-x: hidden; }

button, input { outline: none !important; }

.bgColor-1 { background-color: #028461; }

.bgColor-2 { background-color: #f5fc2f; }

.bgColor-3 { background-color: #ff2d88; }

.color-1 { background-color: #ffff00; }

.color-2 { background-color: #0089ff; }

.color-3 { background-color: #4d4d4d; }

.color-4 { background-color: #ff7300; }

.color-5 { background-color: #81ffff; }

.color-6 { background-color: #5200ff; }

.color-7 { background-color: #b8b8b8; }

.color-8 { background-color: #ff0000; }

.color-9 { background-color: #760000; }

.color-10 { background-color: #28c200; }

.main-box { padding: 20px; }

.old-code span { width: 28px; height: 24px; text-align: center; line-height: 24px; display: inline-block; margin: 0 3px; border-radius: 2px; font-weight: normal; color: #fff; text-shadow: 0 0 1px #000; }

.navbar { border-radius: 0; margin-bottom: 0; }

.slider-header { color: #337ab7; }

.realtime-header { padding: 20px; color: #fff; color: #139029; }

.stage-time { overflow: hidden; }
.stage-time div { float: left; width: 50%; }

.userInfo h1 { text-indent: -50px; margin: 20px 0 30px; }
.userInfo p.text-danger { line-height: 30px; text-indent: -15px; }

.td-span span { width: 20px; height: 20px; line-height: 20px; text-align: center; display: inline-block; color: #fff; text-shadow: 0 0 1px #000; margin: 2px 5px; }

.disabled table { color: #999 !important; }
.disabled table td { cursor: not-allowed; }
.disabled .item-value { color: #999 !important; }

table thead th { font-size: 18px; font-weight: bold; text-align: center; vertical-align: middle !important; }
table tbody td { cursor: pointer; text-align: center; vertical-align: middle !important; }
table tbody .selected { background-color: #dff0d8; }

.item-td { overflow: hidden; }
.item-td p { float: left; margin: 0; font-size: 16px; }

.item-code { width: 35%; text-align: center; border-right: 1px solid #cdcdcd; }
.item-code span { font-size: 14px; }

.item-value { width: 65%; color: #000; text-align: center; }

.notice-info { color: #f00; font-size: 20px; }

.mask, .loading-mask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.8); z-index: 10; }

.loading { position: absolute; top: 48%; left: 48%; font-size: 14px; color: #fff; z-index: 20; }

.pos-box { position: fixed; padding: 100px; top: 0; left: 0; right: 0; bottom: 0; z-index: 20; font-size: 20px; font-weight: bold; }

.drag-box { width: 745px; height: 100px; padding: 20px; margin: 0 auto; text-align: center; }
.drag-box span { line-height: 60px; color: #fff; text-shadow: 0 0 1px #333; font-size: 35px; cursor: pointer; }

.drag-item { float: left; margin-right: 10px; text-align: center; width: 60px; height: 60px; }

.drag-item-dash { position: absolute; width: 60px; height: 60px; margin-right: 10px; border: 1px dashed transparent; opacity: 0.7; }

.dash { float: left; width: 60px; height: 60px; margin-right: 10px; border: 1px dashed #f00; }

.modify-notice { height: 45px; font-size: 16px; color: red; }

.toast { position: fixed; z-index: 40; background-color: rgba(0, 0, 0, 0.8); color: #fff; font-size: 20px; padding: 10px 80px; border-radius: 8px; top: 50%; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.historyBody { padding: 10px 40px 200px; }
.historyBody table tr td { text-align: center; }

.chose-box { margin-top: 10px; margin-bottom: 20px; }

.red { color: red; }

.th-box { font-size: 14px; }
.th-box span { padding: 0 5px; color: #999; }

.paddingTips { padding: 0 10px; color: #999; }

.expire { padding: 0 14px !important; }
