<nav-header select-active='profitClass'></nav-header>
<div class="row main-box" ng-controller='profitCtrl'>
    <div class="col-md-3">
        <div>
            <h4 class="slider-header">盈亏报表</h4>
            <ul class="nav nav-pills nav-stacked" role="tablist">
              <li ng-class="{'active' : selectClass == 'profitlose/profitloseAll'}" tab-active><a ui-sref=".all">总盘盈亏报表</a></li>
              <li ng-class="{'active' : selectClass == 'profitlose/profitloseOther'}" tab-active><a ui-sref=".other">分盘盈亏报表</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ui-view></div>
    </div>
    <div class="loading-mask" loading>
        <div class="loading">loading...</div>
    </div>
</div>
