<nav-header select-active='betClass'></nav-header>
<div class="row main-box" ng-controller='betCtrl'>
    <div class="col-md-3">
        <div>
            <h4 class="slider-header">押注报表</h4>
            <ul class="nav nav-pills nav-stacked" role="tablist">
              <li ng-class="{'active' : selectClass == 'bet/allBet'}" tab-active><a ui-sref=".allbet">总盘押注报表</a></li>
              <li ng-class="{'active' : selectClass == 'bet/otherBet'}" tab-active><a ui-sref=".otherbet">分盘押注报表</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ui-view></div>
    </div>
</div>
