<nav-header select-active='betClass'></nav-header>
<div class='container-fluid' ng-controller='betDetailCtrl'>
    <div class="row realtime-header bg-success">
        <div class="col-md-2" ng-if="type=='byDate'">
            <h4>按日期</h4>
            <p>{{dateIssue}}</p>
        </div>
        <div class="col-md-2" ng-if="type=='byIssue'">
            <h4>按期号</h4>
            <p>{{dateIssue}}</p>
        </div>
        <div class="col-md-2" ng-if="type=='byIssue'">
            <h4>开奖结果</h4>
            <p>{{lotteryRestut}}</p>
        </div>
        <div class="col-md-2">
            <h4>押注数</h4>
            <p>{{number}}</p>
        </div>
        <div class="col-md-2">
            <h4>押注金额(收入)</h4>
            <p>{{money}}</p>
        </div>
        <div class="col-md-2">
            <h4>支出</h4>
            <p>{{fitloss}}</p>
        </div>
        <div class="col-md-2">
            <h4>总盈亏</h4>
            <p>{{allfitloss}}</p>
        </div>
    </div>
    <h2 class="text-center text-primary">1-10名</h2>
    <div class="row main-box">
        <div class="col-md-12">
            <div id="table-box_1" class="table-box table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>赔率</th>
                            <th style="background:#60f7cf">冠军</th>
                            <th style="background:#60f7cf">亚军</th>
                            <th style="background:#60f7cf">第三名</th>
                            <th style="background:#60f7cf">第四名</th>
                            <th style="background:#60f7cf">第五名</th>
                            <th style="background:#60f7cf">第六名</th>
                            <th style="background:#60f7cf">第七名</th>
                            <th style="background:#60f7cf">第八名</th>
                            <th style="background:#60f7cf">第九名</th>
                            <th style="background:#60f7cf">第十名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in table1 track by $index">
                            <td ng-if='$index<6' class="red">1.94</td>
                            <td ng-if='$index>5' class="red">9.7</td>
                            <td ng-repeat='item in row'>
                                <div class="item-td">
                                    <p class="item-code" ng-if='item.key' ng-class="{'bgColor-1': (item.key=='大'||item.key=='小'),'bgColor-2': (item.key=='单'||item.key=='双'),'bgColor-3': (item.key=='龙'||item.key=='虎'),'color-1': item.key==1,'color-2': item.key==2,'color-3': item.key==3,'color-4': item.key==4,'color-5': item.key==5,'color-6': item.key==6,'color-7': item.key==7,'color-8': item.key==8,'color-9': item.key==9,'color-10': item.key==10}">{{item.key}}</p>
                                    <p class="item-value" ng-if='item.key'>{{item.money}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2 class="text-center text-primary">冠亚组合</h2>
    <div id='table-gy' class="row main-box">
        <div class="col-md-12">
            <div id="table-box_2" class="table-box table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="4">冠、亚军和（冠军车号 + 亚军车号 = 和）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='row in table2'>
                            <td ng-repeat='item in row'>
                                <div class="item-td">
                                    <p class="item-code">{{item.key}} <span class="red" ng-if="item.value">({{item.value}})</span></p>
                                    <p class="item-value">{{item.money}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
