<nav-header select-active='betClass'></nav-header>
<div class='container-fluid' ng-controller='betDetailCtrl'>
    <div class="row realtime-header bg-success">
        <div class="col-md-2" ng-if="type=='byDate'">
            <h4>按日期</h4>
            <p>{{dateIssue}}</p>
        </div>
        <div class="col-md-2" ng-if="type=='byIssue'">
            <h4>按期号</h4>
            <p>{{dateIssue}}</p>
        </div>
        <div class="col-md-2" ng-if="type=='byIssue'">
            <h4>开奖结果</h4>
            <p>{{lotteryRestut}}</p>
        </div>
        <div class="col-md-2">
            <h4>押注数</h4>
            <p>{{number}}</p>
        </div>
        <div class="col-md-2">
            <h4>押注金额(收入)</h4>
            <p>{{money}}</p>
        </div>
        <div class="col-md-2">
            <h4>支出</h4>
            <p>{{fitloss}}</p>
        </div>
        <div class="col-md-2">
            <h4>总盈亏</h4>
            <p>{{allfitloss}}</p>
        </div>
    </div>
    <h2 class="text-center text-primary">1-10名</h2>
    <div class="row main-box">
        <div class="col-md-12">
            <div id="table-box_1" class="table-box table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>赔率</th>
                            <th>冠军</th>
                            <th>亚军</th>
                            <th>第三名</th>
                            <th>第四名</th>
                            <th>第五名</th>
                            <th>第六名</th>
                            <th>第七名</th>
                            <th>第八名</th>
                            <th>第九名</th>
                            <th>第十名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in table1 track by $index">
                            <td ng-if='$index<6' class="red">1.94</td>
                            <td ng-if='$index>5' class="red">9.7</td>
                            <td ng-repeat='item in row'>
                                <div class="item-td">
                                    <p class="item-code" ng-if='item.key'>{{item.key}}</p>
                                    <p class="item-value" ng-if='item.key'>{{item.money}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2 class="text-center text-primary">冠亚组合</h2>
    <div id='table-gy' class="row main-box">
        <div class="col-md-12">
            <div id="table-box_2" class="table-box table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="4">冠、亚军和（冠军车号 + 亚军车号 = 和）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='row in table2'>
                            <td ng-repeat='item in row'>
                                <div class="item-td">
                                    <p class="item-code">{{item.key}} <span class="red" ng-if="item.value">({{item.value}})</span></p>
                                    <p class="item-value">{{item.money}}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
