<div class="row">
    <div class="col-md-3">
        <div>
            <h2 class="slider-header">开奖管理 > 实时开奖</h2>
            <ul class="nav nav-pills nav-stacked" role="tablist">
              <li class="active" tab-active><a ui-sref=".status">当前押注情况</a></li>
              <li tab-active><a ui-sref=".compluteReslut">显示计算结果</a></li>
              <li tab-active><a ui-sref=".modifyReslut">修改比赛结果</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div ui-view></div>
    </div>
</div>
