<div>
    <h4>{{text}}</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>期号</th>
                <th>比赛结果</th>
                <th colspan="3">冠亚和</th>
                <th colspan="5">1-5龙虎</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in tableData">
                <td>{{row.racingNum}}</td>
                <td class="td-span text-center">
                    <span ng-repeat="num in row.result" class="color-{{num}}">{{num}}</span>
                </td>
                <td colspan="3">{{row.firstAddSecond}}</td>
                <td>{{row.isFirstUp ? '龙':'虎'}}</td>
                <td>{{row.isSecondUp ? '龙':'虎'}}</td>
                <td>{{row.isThirdUp ? '龙':'虎'}}</td>
                <td>{{row.isFourthUp ? '龙':'虎'}}</td>
                <td>{{row.isFifthUp ? '龙':'虎'}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <paging
          page="currentPage"
          page-size="pageSize"
          total="total"
          show-prev-next="true"
          show-first-last="true"
          paging-action="goPage('bar',page)" >
        </paging>
    </div>
</div>
