<div ng-controller="otherUserCtrl">
    <h4>{{text}}</h4>
    <div class="container-fluid">
        <a href="javascript:;" class="btn btn-primary">添加用户</a>
        <div class="row chose-box">
            <div class="col-md-4 form-inline">
                <div class="form-group">
                  <label class='control-label'>分盘名称: </label>
                  <input type="text" class="form-control" ng-model='searchName' placeholder="分盘名称">
                </div>
            </div>
            <div class="col-md-4 form-inline">
                <div class="form-group">
                  <label class='control-label'>分盘编号: </label>
                  <input type="text" class="form-control" ng-model='searchId' placeholder="分盘编号">
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="search();">搜索</button>
            </div>
        </div>
        <div class="chose-box">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>分盘编号</th>
                        <th>分盘名称</th>
                        <th>最后一次登录IP</th>
                        <th>最后一次登录时间</th>
                        <th>机器人状态</th>
                        <th>机器人到期时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>aa</td>
                        <td>bb</td>
                        <td>cc</td>
                        <td>dd</td>
                        <td>ee</td>
                        <td>ff</td>
                        <td>gg</td>
                        <td>
                            <p><a href="javascript:;" class="btn btn-sm btn-success">启用</a></p>
                            <p><a href="javascript:;" class="btn btn-sm btn-warning">禁用</a></p>
                            <p><a href="javascript:;" class="btn btn-sm btn-danger">删除</a></p>
                            <p><a href="javascript:;" class="btn btn-sm btn-info">修改信息</a></p>
                            <p><a href="javascript:;" class="btn btn-sm btn-primary">机器人到期时间管理</a></p>
                            <p><a href="javascript:;" class="btn btn-sm btn-primary">添加机器人</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>bb</td>
                        <td>cc</td>
                        <td>dd</td>
                        <td>ee</td>
                        <td>ff</td>
                        <td>gg</td>
                        <td>
                            <p><a href="javascript:;" class="btn btn-sm btn-success">启用</a></p>
                            <p><a href="javascript:;" class="btn btn-sm btn-warning">禁用</a></p>
                            <p><a href="javascript:;" class="btn btn-sm btn-danger">删除</a></p>
                            <p><a href="javascript:;" class="btn btn-sm btn-info">修改信息</a></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
